
@{    
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<head>
    <link href="~/CSS/StyleSheetComeco.css" rel="stylesheet" />
</head>

<div class="padding80 bgcolor-voilet">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2>BATERIA DE PROVAS FONOLÓGICAS</h2>
                                
                <p class="tmargin10">
                    Esta prova tem como objectivo avaliar a capacidade infantil
                    de explicar segmentos sonoros da cadeia falada ao nível das
                    sílabas e dos fonemas. É constituida por 6 subtestes:

                </p>
                <ul class="text-black tmargin40">
                    <li><span style="font-size: 15px" class="glyphicon glyphicon-list-alt"></span> Classificação com base na sílaba inicial </li>
                    <li><span style="font-size: 15px" class="glyphicon glyphicon-list-alt"></span> Classificação com base no fonema inicial </li>
                    <li><span style="font-size: 15px" class="glyphicon glyphicon-list-alt"></span> Supressão da sílaba inicial</li>
                    <li><span style="font-size: 15px" class="glyphicon glyphicon-list-alt"></span> Supressão do fonema inicial</li>
                    <li><span style="font-size: 15px" class="glyphicon glyphicon-list-alt"></span> Análise silábica</li>
                    <li><span style="font-size: 15px" class="glyphicon glyphicon-list-alt"></span> Análise fonémica</li>
                </ul>
                <a href="~/Teste/CSI" class="btn btn-default btn-round tmargin30">Começar</a>
            </div>
            <div class="col-md-6">
                <img class="img-responsive tmargin40" src="http://demo.xpeedstudio.com/html/seopress/demo/assets/images/advertising-img.png" alt="Chania" width="460" height="345">

            </div>
        </div>
    </div>
</div>



