
@{
    Layout = "~/Views/Shared/_LayoutPrincipal.cshtml";
}

<head>
    <link href="~/CSS/StyleSheetCSIF.css" rel="stylesheet" />
</head>

<div class="container" style="margin-top:5%;">
    <div class="row">
        <div class="jumbotron">
            <h1 class="text-center">Avaliação Concluída</h1>
            <center><a href="~/Inicio/Index" class="btn btn-primary btn-round-lg btn-lg" style="margin-top:40px;">Terminar</a></center>
        </div>
    </div>
</div>

