
@{
    ViewBag.Title = "Phosis";
    Layout = "~/Views/Shared/_LayoutInicial.cshtml";
}

<section id="banner">

    <!-- Slider -->
    <div id="main-slider" class="flexslider">
        <ul class="slides">
            <li>
                <img src="~/Imagens/Layout/img2.jpg" width="800" height="800" alt="Técnico e criança a realizarem a prova" />
            </li>
        </ul>
    </div>
    <!-- end slider -->

</section>

<section class="section-padding gray-bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title text-center">
                    <h2>O que é o Phosis?</h2>
                    <p>Esta prova tem como objetivo avaliar a capacidade infantil de explicitar segmentos sonoros da cadeia falada ao nível da sílabas e dos fonemas.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="about-text">
                    <ul class="withArrow">
                        <li><span class="fa fa-angle-right"></span> Classificação com base na sílaba inicial</li>
                        <li><span class="fa fa-angle-right"></span> Classificação com base no fonema inicial</li>
                        <li><span class="fa fa-angle-right"></span> Supressão da sílaba inicial</li>
                        <li><span class="fa fa-angle-right"></span> Supressão do Fonema inicial</li>
                        <li><span class="fa fa-angle-right"></span> Análise Silábica</li>
                        <li><span class="fa fa-angle-right"></span> Análise Fonémica</li>
                    </ul>
                    <a href="/Inicio/Registo" class="btn btn-primary">Registo</a>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="about-image">
                    <img src="~/Imagens/Layout/img1.jpg" alt="Criança a usar computador">
                </div>
            </div>
        </div>
    </div>
</section>
