
@{
    ViewBag.Title = "Sobre Nós - Phosis";
    Layout = "~/Views/Shared/_LayoutInicial.cshtml";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="pageTitle">Sobre nós</h2>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <section class="section-padding">
        <div class="container">
            <div class="row showcase-section">
                <div class="col-md-6">
                    <img src="/Imagens/Layout/img3.jpg" alt="showcase image" width="550" height="250">
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <h3>O trabalho</h3>
                        <p>Este trabalho foi realizado no âmbito da cadeira de IPC no curso de Engenharia Infórmatica na Universidade de Trás-os-Montes e Alto-Douro.</p>
                        <p>Ele consiste na informatização das provas de bateria fonológica presentes no livro x, escrito por x. MELHORAR ESTA MERDA</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">

        <div class="about">
            <!-- Our Team starts -->
            <!-- Heading -->
            <div class="block-heading-six">
                <h4 class="bg-color">A equipa</h4>
            </div>
            <br>

            <!-- Our team starts -->

            <div class="team-six">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <!-- Team Member -->
                        <div class="team-member">
                            <!-- Image -->
                            <img class="img-responsive" src="/Imagens/Layout/andre.jpg" alt="Imagem de André Silva">
                            <!-- Name -->
                            <h4>André Silva</h4>
                            <span class="deg">Programador</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Team Member -->
                        <div class="team-member">
                            <!-- Image -->
                            <img class="img-responsive" src="/Imagens/Layout/nuno.jpg" alt="Imagem de Nuno Lopes">
                            <!-- Name -->
                            <h4>Nuno Lopes</h4>
                            <span class="deg">Programador</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Team Member -->
                        <div class="team-member">
                            <!-- Image -->
                            <img class="img-responsive" src="/Imagens/Layout/ricardo.jpg" alt="Imagem de Ricardo Cardoso">
                            <!-- Name -->
                            <h4>Ricardo Cardoso</h4>
                            <span class="deg">Programador</span>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <!-- Team Member -->
                        <div class="team-member">
                            <!-- Image -->
                            <img class="img-responsive" src="/Imagens/Layout/marcelo.jpg" alt="Imagem de Marcelo Pinto">
                            <!-- Name -->
                            <h4>Marcelo Pito</h4>
                            <span class="deg">Programador</span>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Our team ends -->


        </div>

    </div>
</section>