.padding80 {
    padding:80px;
}

.bgcolor-voilet {
    background-color: #4b646f;
    color:#fff;
}
.tmargin10 {
 margin-top :10px;   
}

.tmargin40 {
 margin-top :40px;   
}

.tmargin30 {
 margin-top :30px;   
}

